name: Android
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        newArchEnabled: [false, true]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.10
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Install dependencies
        run: bun install --frozen-lockfile
        shell: bash
      - name: Build Android test app
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: wrapper
          arguments: -PnewArchEnabled=${{matrix.newArchEnabled}} --no-daemon clean build check test
          build-root-directory: example/android
    timeout-minutes: 60
