name: iOS
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    strategy:
      matrix:
        extraEnv: [FOO=BAR, RCT_NEW_ARCH_ENABLED=1]
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.10
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Install Pods
        run: ${{matrix.extraEnv}} pod install
        working-directory: example/ios
      - name: Build iOS test app
        run: |
          device_name='iPhone 17'
          device=$(xcrun simctl list devices "${device_name}" available | grep "${device_name} (")
          re='\(([-0-9A-Fa-f]+)\)'
          [[ $device =~ $re ]] || exit 1
          xcodebuild -workspace WebviewExample.xcworkspace -scheme ReactTestApp -destination "platform=iOS Simulator,id=${BASH_REMATCH[1]}" CODE_SIGNING_ALLOWED=NO COMPILER_INDEX_STORE_ENABLE=NO build
        working-directory: example/ios
    timeout-minutes: 60
