name: 'Lint'
on: [pull_request]

jobs:
  lint:
    name: 'Running lint'
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.10
      - name: Setup - Install dependencies
        run: bun install --frozen-lockfile
      - name: Run lint
        run: bun run lint
