name: macOS
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.10
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Install macOS dependencies
        if: false # Enable this if react-native-macos falls behind
        run: bun run add:macos
      - name: Install Pods
        run: pod install
        working-directory: example/macos
      - name: Build macOS test app
        run: |
          xcodebuild -workspace WebviewExample.xcworkspace -scheme ReactTestApp CODE_SIGNING_ALLOWED=NO COMPILER_INDEX_STORE_ENABLE=NO build
        working-directory: example/macos
    timeout-minutes: 60
