name: Windows CI
on: [pull_request]

jobs:
  run-windows-tests:
    name: Build & run tests
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v6
        name: Checkout Code

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.10

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1.3
        with:
          vs-version: '[17.0,)'
          msbuild-architecture: x64

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: |
          bun run build
          bun run tsc

      - name: Build x64 release
        shell: powershell
        run: bun run windows --release --no-packager --no-deploy --logging

      # Workaround for a bug in package searching during deploy.
      # The deploy script only searches windows/{*/bin/x64/Release,Release/*}, but the build step above placed the packages at windows/x64/Release.
      # Copy the packages to Windows/Release before deploying.
      - name: Deploy
        shell: powershell
        run: |
          Copy-Item -Path example\windows\x64\Release -Recurse -Destination example\windows\
          bunx react-native run-windows --arch x64 --release --root example --logging --no-build --no-packager --deploy-from-layout

      - name: Start Appium server
        shell: powershell
        run: Start-Process PowerShell -ArgumentList "bun run appium"

      - name: Start React server
        shell: powershell
        run: Start-Process PowerShell -ArgumentList "bun run start"

      - name: Run tests
        run: bun run test:windows
